/* Coolors Exported Palette - coolors.co/ffffff-aaaaaa-7b6b43-71b340-3c5a14 */

/* HSL */
$color1: hsla(0%, 0%, 100%, 1);
$color2: hsla(0%, 0%, 67%, 1);
$color3: hsla(43%, 29%, 37%, 1);
$color4: hsla(94%, 47%, 48%, 1);
$color5: hsla(86%, 64%, 22%, 1);

/* RGB */
$color1: rgba(255, 255, 255, 1);
$color2: rgba(170, 170, 170, 1);
$color3: rgba(123, 107, 67, 1);
$color4: rgba(113, 179, 64, 1);
$color5: rgba(60, 90, 20, 1);